.horizontal-list{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.fitem-list{
    display: inline-block;
    border-top: none;
    border-right: 1px solid rgba(34,36,38,.15);
    margin: 0;
    line-height: .6;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.aa{
    text-decoration: none;
    color: black;
}